
.tx-contentrating-pi1 {
	position: relative;
	max-width:300px;
}

.tx-content-rating-rate-wrapper {
	position: relative;
	z-index:31;
	width:100%;
	height:8px;
	cursor:pointer;
	overflow:hidden;
	-webkit-border-radius: 4px;
    border-radius: 4px;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.4); 
    box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.tx-content-rating-rate-full {
	position: absolute;
	height:8px;
	width:100%;
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.tx-content-rating-rate-value {
	position: absolute;
	height:8px;
	width:0%;
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.7);
	
	-webkit-transition: width 1s ease-in-out;
	-moz-transition: width 1s ease-in-out;
	-ms-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
}

.tx-content-rating-text-wrapper {
	position: relative;
	margin-top:10px;
}

.tx-content-rating-text-left {
	float:left;
}

.tx-content-rating-text-right {
	float:right;
}

.tx-content-rating-clear {
	height:0px;
	font-size:0px;
	line-height:0px;
	clear:both;
}

.tx-content-rating-line-wrapper {
	position: relative;
	z-index:30;
	height:8px;
	margin-top:-4px;
}

.tx-content-rating-line-sep-big {
	width:1px;
	height:8px;
	position: absolute;
	background:rgb(120,120,120);
}

.tx-content-rating-line-sep-small {
	width:1px;
	height:8px;
	position: absolute;
	background:rgb(100,100,100);
}

.tx-content-rating-mouse-wrapper {
	position: absolute;
	width:100%;
}

.tx-content-rating-mouse-sep {
	position: absolute;
	height:8px;
	opacity:0;
	background: rgb(255,183,107); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.55);
    box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.55);
}

.tx-content-rating-mouse-sep:hover {
	opacity:1;
}

.tx-content-rating-mouse-hint {
	opacity:0;
	position: absolute;
	padding:3px 0px 5px;
	text-align: center;
	width:20%;
	margin-top:-30px;
	background: rgb(255,127,4); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,127,4,1) 0%, rgba(255,124,0,1) 49%, rgba(255,167,61,1) 50%, rgba(255,183,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,127,4,1)), color-stop(49%,rgba(255,124,0,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(100%,rgba(255,183,107,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,127,4,1) 0%,rgba(255,124,0,1) 49%,rgba(255,167,61,1) 50%,rgba(255,183,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,127,4,1) 0%,rgba(255,124,0,1) 49%,rgba(255,167,61,1) 50%,rgba(255,183,107,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,127,4,1) 0%,rgba(255,124,0,1) 49%,rgba(255,167,61,1) 50%,rgba(255,183,107,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,127,4,1) 0%,rgba(255,124,0,1) 49%,rgba(255,167,61,1) 50%,rgba(255,183,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f04', endColorstr='#ffb76b',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow:  1px 0px 2px 0px rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
	color:#ffffff;
}